<table class="datatable table" style="width: 50%">
  <thead>
    <tr>
      <th>City</th>
      <th>Nickname</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Percent Wins</th>
    </tr>
  </thead>
  <tbody>
    <tbody>
      <%= render teams %>
  </tbody>
</table>
