<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path%>">League Standings</a>
    </div>

    <div>
      <ul class="nav navbar-nav">
        <li><a href="<%= eastern_path %>">Eastern Conference</a></li>
        <li><a href="<%= western_path %>">Western Conference</a></li>
      </ul>
    </div>
  </div>
</nav>
